  body {
    background-color: #151617;
  
}


footer{
   
    background-color:#2b2b28 ;
    border-radius: 2em;
    
}
footer p{
    margin-top: 0;
    text-align: center;
    height: inherit;
    color: ivory;
    padding: 2%;
}


li{
    float:left;
    display: block;
    text-align: center;
    
    padding: 1em 1em;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    
    
}



li a{
  
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
    
    color:white;
    
    
    
}

li a:hover {
    background-color: #111;
    padding: 2%;
  }
  li a:active {
    background-color: rgb(101, 109, 107);
  }
 ul{
     background-color: #2b2b28;
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     
     
     
 }
 h3{
     font-family: 'Times New Roman', Times, serif;
 }

 .header-flex{
     display: flex;
     flex-direction: row;
     background-color: black;
     
    
     
     
     
 }
 h1{
    color:white;
    font-family: 'Times New Roman', Times, serif;
   margin-left: 2.5em;
    
}

 header img{
     height: 5em;
 }
 .image-table  img{
    height: 20em;
    width: 30 em;
}
 h3{
    text-align: center;
    color:white;
}

.big-image{
    
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 55em;
        height: 45em;
     
}