body{
    background-image: url("../images/background.jpg");
    
}



footer{
   
    background-color:#2b2b28 ;
    border-radius: 2em;
    
}
footer p{
    margin-top: 0;
    text-align: center;
    height: inherit;
    color: ivory;
    padding: 2%;
}


li{
    float:left;
    display: block;
    text-align: center;
    
    padding: 1em 1em;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    
    
}



li a{
  
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
    
    color:white;
    
    
    
}

li a:hover {
    background-color: #111;
    padding: 2%;
  }
  li a:active {
    background-color: rgb(101, 109, 107);
  }
 ul{
     background-color: #2b2b28;
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     
     
     
 }

 .header-flex{
     display: flex;
     flex-direction: row;
     background-color: black;
     
    
     
     
     
 }

 
h1{
    color:white;
    font-family:'Times New Roman', Times, serif;
   margin-left: 2.5em;
    
}

 header img{
     height: 5em;
 }
.index{
    display: flex;
    flex-direction: row;
    
}

h3{
    color:#6e5040;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
}
h5{
    color:#6e5040;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.1em;
}
.bold{
    font-weight: bold;
    font-style: italic;
}

.index article p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    margin-left:3%;
    margin-right: 3%;
}
.index-dif-color{
   
    color: #6e5040;;
   
}

.index article section{
    margin-left:3%;
    margin-right: 3%;
}
.index article{
    margin-left: 3%;
    margin-right: 3%;
    background-color: #ebe9e6;
    
    
    
}


.index aside{
    background-color: #f0ebe1;
    border-style: solid;
    border:solid;
    border-color: #2b2b28;
    width: 60%;
    margin-bottom: 1em;
    margin-top: 1em;
    border-radius: 2em;
}
.index aside p{
    padding: 2%;
    color:#6e5040;
    font-size: 1.4em;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10%;
    font-style: italic;
  
    
}
.art-theme img{
    width: 50%;
    margin-left: 20%;
    
}

.about-h3{
    margin-left:3%;
    margin-right: 3%;

}

.tickets-table {
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
    width: 100%;
  }
  
 .tickets-table td, .tickets-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .tickets-table tr:nth-child(odd){background-color: #ebe9e6;}
  

  
 .tickets-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#6e5040 ;
    color: wheat;
  }



.tickets{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
   padding:1%;
   font-family: 'Times New Roman', Times, serif;
   border-radius: 2em;
}
.tickets h3{
    text-align: center;
}




.about article p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    margin-left:3%;
    margin-right: 3%;
}

.about article section{
    margin-left:3%;
    margin-right: 3%;
}
.about article{
    
    background-color: #ebe9e6;
    border-radius: 2em;
    padding:1%;
    margin:1%;
    
    
    
}


 